<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/summerTreats_style.css" type="text/css" />
    <title>Summer Treats</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/summerTreats.js"></script>
</head>

<body>
    {{{ body }}}
</body>

</html>