<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <h1 class="text mt-4">Summer Treats</h1>
            <br>
            <img src="/assets/img/cupcakesSmall.jpg" alt="cupcakes"/>

            <h3 class="text pt-4">Eat Those Yummy Sweet Summer Treats!</h3>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-6">
            <ul>
                {{#each treats}}
                {{#unless devoured}}
                    <p class="notEaten">
                        {{this.treat_name}}
                        {{!-- noweaten connects to the summerTreats.js when button clicked and created ajax to change devoured to true --}}
                        <button class="ml-2" id="devbtn" data-id="{{id}}" data-noweaten="{{devoured}}"> 
                            Devour Me!</button>
                    </p>
                    {{/unless}}
                {{/each}}
            </ul>
            
        </div>

        <div class="col-6">
            <ul>
                {{#each treats}}
                {{#if devoured}}
                <p class="eaten">
                {{this.treat_name}}
                </p>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-12">
            <h3 class="text pt-4">Enter a Treat to Eat</h3>
            <form class="create-form">
            
                <div class="form-group">
                    <label for="ca">Treat Name:</label>
                    <textarea class="form-control" id="treatName" rows="2"></textarea> 
                </div>
            
                <button type="submit">Add Treat</button>
            </form>
        </div>
    </div>
</div>