html, body {
    background-color: rgb(245, 221, 219);
}

img{
    border: 4px solid white;
}

.form-control {
    width: 400px;
    margin: auto;
}

.text {
    font-family: 'Rancho', cursive;
}

ul {
    font-family: 'Rancho', cursive;
}